{% extends 'base.html' %}

{% block main_content %}
<div class="row">
	<div class="col-md-12">
		<h1>Заблокировать пользователя</h1>
		<p>Вы уверены, что хотите заблокировать пользователя {{user.username }}?</p>
		<form action="{% url 'auth:users:block' user_pk=user.pk %}" method="POST">
			{% csrf_token %}
			<div class="well">
				<input type="submit" class="btn btn-primary" value="Заблокировать" />
				<a class="btn btn-default" href="{% url 'auth:users:detail' user_pk=user.pk %}">Отмена</a>
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}
