{% extends 'base.html' %}
{% load floppyforms %}

{% block main_content %}
<div class="row">
	<div class="col-md-12">
		<h1>Редактирование пользователя {{ protocol_user.username }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="{% url 'protocol:users:edit' user_pk=protocol_user.pk %}" method="POST">
			{% csrf_token %}
			{% form form using 'floppyforms/layouts/bootstrap3.html' %}
			<div class="well">
				<input type="submit" class="btn btn-primary" value="Сохранить изменения" />
				<a class="btn btn-default" href="{% url 'protocol:users:detail' user_pk=protocol_user.pk %}">Отмена</a>
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}
