Django==1.8
django-treebeard
django_extensions
djangorestframework
python-magic
Pillow

djangorestframework-hstore
django-weeny
djrill
django-post-master
django-celery
django-picklefield
django-extended_choices
djangorestframework-hstore
