{% extends 'base.html' %}
{% load floppyforms %}

{% block main_content %}
<div class="row">
	<div class="col-md-12">
		<h1>Редактирование группы</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form action="{% url 'protocol:groups:edit' group_pk=group.pk %}" method="POST">
			{% csrf_token %}
			{% form form using 'floppyforms/layouts/bootstrap3.html' %}
			<div class="well">
				<input type="submit" class="btn btn-primary" value="Сохранить изменения" />
                {# <a class="btn btn-default" href="{% url 'protocol:groups:detail' group_pk=group.pk %}">Отмена</a>  #}
				<a class="btn btn-default" href="{% url 'protocol:groups:list'%}">Отмена</a>
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}
