{% load i18n static %}
{% get_current_language as current_language %}
<!DOCTYPE html>
<html lang="{{ current_language }}" xmlns="http://www.w3.org/1999/html" >
<head>
	<title>{% block meta_title %}Работа с пользователями{% endblock %}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'lib/bootstrap-3.1.1/css/bootstrap.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'lib/bootstrap-3.1.1/css/bootstrap-theme.min.css' %}" rel="stylesheet"/>

	{% block extra_meta %}{% endblock %}
</head>
<body data-static-url="{{ STATIC_URL }}">
{% block main_content %}{% endblock %}
{% block page_js %}{% endblock %}
{% block extra_page_js %}{% endblock %}
</body>
</html>
