{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Фотографии пользователя</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'my_files_storage/lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'my_files_storage/lib/bootstrap/dist/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" href="{% static 'my_files_storage/lib/angular-ui-tree/dist/angular-ui-tree.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'my_files_storage/css/tree.css' %}">#}
</head>


<body ng-app="my_photos_storage">
<div class="container" ng-controller="photosCtrl">
    <a href="{% url 'auth:logout' %}" class="btn btn-danger pull-right">Выйти</a>
    <table ng-cloak class="table-hover table-bordered col-md-12" style="text-align: center">
        <thead ng-init="load_user_files({{ request.user.id }})">
        <tr>
            <h4>
                Фотографии пользователя&nbsp;{{ request.user.username }}
            </h4>
        </tr>
        <tr>
            <td class="col-md-1">
                <h4>
                    Имя
                </h4>
            </td>
            <td class="col-md-3">
                <h4>
                    Миниатюра
                </h4>
            </td>
            <td class="col-md-2">
                <h4>
                    Производитель и модель камеры
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    Дата создания фото
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    Дата загрузки фото
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    Размер файла
                </h4>
            </td>
            <td class="col-md-2">
                <h4>
                    Действия
                </h4>
            </td>
        </tr>
        </thead>
        {% verbatim %}
        <tbody>
        <tr ng-repeat="file in user_files" ng-model="user_files">
            <td class="col-md-1">
                <h5>
                    {{ file.title }}
                </h5>
            </td>
            <td class="col-md-3">
                <h5>
                    <a href="{{ file.url }}"><img width="100" height="100" ng-src="{{ file.crop_image }}" alt="скачать"></a>
                </h5>
            </td>
            <td class="col-md-2">
                <h4>
                    {{ file.camera_info }}
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    {{ file.create_data }}
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    {{ file.load_data }}
                </h4>
            </td>
            <td class="col-md-1">
                <h4>
                    {{ file.file_size }} &nbsp; байт
                </h4>
            </td>
            <td class="col-md-2">
                <p ng-click="remove_file(file)" class="btn  btn-danger btn-block">удалить</p>
            </td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <form name="FileUploadForm">
        Файл для загрузки:  <!--<input type="file" name="new_file" ng-model="new_file.file" required>-->
        <input type="file" file-model="new_file"/>

        <p ng-click="load_new_file(new_file, user)" class="btn  btn-success btn-block">Загрузить файл</p>
        <span class="error" ng-show="FileUploadForm.filename.$error">{{ FileUploadForm.$error }}</span><br>
        <div>
        <p ng-repeat="error in errors" ng-model="errors">
             <strong style="color: red">{{ error }}</strong> <br>
        </p>
        </div>
    </form>
</div>

{% endverbatim %}

<!-- scripts -->
<!--[if IE 8]>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->

<script src="{% static 'my_files_storage/lib/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'my_files_storage/lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'my_files_storage/lib/angular-1.2.26/angular.js' %}"></script>
<script src="{% static 'my_files_storage/lib/lodash/lodash.min.js' %}"></script>
<script src="{% static 'my_files_storage/lib/restangular/src/restangular.js' %}"></script>
{#<script src="{% static 'my_files_storage/lib/angular-ui-tree/dist/angular-ui-tree.js' %}"></script>#}
{#<script src="{% static 'my_files_storage/lib/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>#}
{#<script src="{% static 'my_files_storage/app/trees.js' %}"></script>#}
<script src="{% static 'my_files_storage/lib/simple-file-upload.js' %}"></script>
{#<script src="{% static 'my_files_storage/lib/angular-file-upload.js' %}"></script>#}
<script src="{% static 'my_files_storage/app/my_photos_storage.js' %}"></script>
{#<script src="{% static 'angular-bookmarks/lib/gremlins/gremlins.min.js' %}"></script>#}
<script>
    // Add the CSRF Token
    angular
            .module('my_photos_storage') // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
            .config(['$httpProvider', function ($httpProvider) {
                $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
            }]);
</script>
</body>
</html>

