{% extends 'base.html' %}


{% block main_content %}
<div class="row">
	<div class="col-md-10">
		<h1>{{ protocol_user.username }}</h1>
		<p>Пользователь</p>
	</div>
	<div class="col-md-2">
		<div class="pull-right">
			<div class="btn-group">

				<a class="btn btn-default btn-sm" href="{% url 'auth:users:edit' user_pk=user.pk %}" title="Редактировать"><span class="fa fa-edit"></span></a>
				<a class="btn btn-default btn-sm" href="{% url 'auth:users:change-password' user_pk=user.pk %}" title="Изменить пароль"><span class="fa fa-lock"></span></a>
				<a class="btn btn-default btn-sm" href="{% url 'auth:users:block' user_pk=user.pk %}" title="Заблокировать"><span class="fa fa-ban"></span></a>
				<a class="btn btn-default btn-sm" href="{% url 'auth:users:unblock' user_pk=user.pk %}" title="Разблокировать"><span class="fa fa-check"></span></a>
				<a class="btn btn-danger btn-sm" href="{% url 'auth:users:delete' user_pk=user.pk %}" title="Удалить"><span class="glyphicon glyphicon-trash"></span></a>

			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<tr>
				<td class="col-md-6">Фамилия</td>
				<td>{{ user.last_name }}</td>
			</tr>
			<tr>
				<td>Имя</td>
				<td>{{ user.first_name }}</td>
			</tr>

			<tr>
				<td>Имя пользователя</td>
				<td>{{ user.username }}</td>
			</tr>

		</table>
	</div>
</div>
{% endblock main_content %}
