{% extends 'base.html' %}

{% block main_content %}
<div class="row">
	<div class="col-md-10">
		<h1>Пользователи</h1>
	</div>
	<div class="col-md-2">
		<div class="pull-right">
			{% if not AUTH_WITH_LDAP %}
			<a class="btn btn-success btn-sm" href="{% url 'auth:users:add' %}" title="Добавить"><span class="fa fa-plus"></span></a>
			{% endif %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% if is_paginated %}
		{% include 'users/_pagination.html' with page=page_obj %}
		{% endif %}
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-3">Имя пользователя</th>
					<th class="col-md-5">ФИО</th>
					<th class="col-md-3">Роли</th>
					<th class="col-md-1">Активен</th>
				</tr>
			</thead>
			<tbody>
			{% for user in users %}
				<tr>
					<!--{# <td><a href="{% url 'auth:users:detail' user_pk=user.pk %}">{{ user.username }}</a></td> #}-->
					<td>{{ user.username }}</td>
					<td>{{ user.first_name }}&nbsp;{{ user.last_name }}</td>
					<td>{{ user.email }}</td>
					<td>
						{% if user.is_active %}
						<span class="fa fa-check" style="color:green;"></span>
						{% else %}
						<span class="fa fa-ban" style="color:red;"></span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% if is_paginated %}
		{% include 'users/_pagination.html' with page=page_obj %}
		{% endif %}
	</div>
</div>
{% endblock main_content %}
