
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Заготовка к закладкам</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/static/angular-bookmarks/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/angular-bookmarks/lib/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel="stylesheet" href="/static/angular-bookmarks/css/tree.css">
</head>

<script type="text/ng-template" id="TreeContent.html" src="/static/angular-bookmarks/template/trees_render.js"></script>


<body ng-app="treesApp">


<!-- живой блок
<div ng-controller="ModalBookmarksCtrl">

    <button class="btn btn-default" ng-click="open('lg')">Добавить в закладки</button>

    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div> -->

<!-- живой блок -->
<div bookmarks token="{{ csrf_token|escapejs }}" user="sasha" source="{{ csrf_token|escapejs }}">loading</div>
<!-- живой блок -->

{% verbatim %}

{% endverbatim %}

{##}
{#<!-- рендер для нод дерева -->#}
{##}
{#<script type="text/ng-template" id="NodesRenderer.html">#}
{#    <div class="tree-node-content">#}
{#        <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="node.editing">#}
{##}
{#        <h5>Редактировать имя</h5>#}
{##}
{#        <form class="form-inline" role="form">#}
{#            <div class="form-group">#}
{#                <label for="nodeName">Имя папки</label>#}
{#                <input type="text" class="form-control" placeholder="Имя" ng-model="node.name">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default" ng-click="changeNode(this)">Сохранить</button>#}
{#            <button type="submit" class="btn btn-default" ng-click="cancelEditingNode(this)">Отменить</button>#}
{#        </form>#}
{##}
{#         </div>#}
{#        <div>#}
{#            <!--<input ng-show="!node.source" type="checkbox" ng-model="node.check" ng-style="checked" ng-change="checked=(node.check ? {color:'red'} : {color:'black'})"> -->#}
{##}
{#            <input  ng-show="!node.source" type="checkbox" ng-model="node.checked" ng-style="checked" ng-change="chose_parent(this)">#}
{##}
{#            <a ng-show="!node.source" class="btn btn-warning btn-xm" data-nodrag ng-click="nodeToggle(this)">#}
{#            <!-- <a ng-show="!node.source" data-nodrag ng-click="nodeToggle(this)">-->#}
{#                <span class="glyphicon"#}
{#                      ng-class="{'glyphicon-folder-close': collapsed, 'glyphicon-folder-open': !collapsed}"></span>#}
{#            </a>#}
{#            <a ng-show="node.source" class="btn btn-success btn-xm" data-nodrag ng-click="">#}
{#            <!-- <a ng-show="node.source" data-nodrag ng-click=""> -->#}
{#                <span class="glyphicon"#}
{#                      ng-class="{'glyphicon-file': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>#}
{#            </a>#}
{#            <span ng-style="checked">id:{{node.id}}, &nbsp name:{{node.name}},&nbsp user:{{node.user}},&nbsp source: {{node.source}}</span>#}
{#            <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="editeNode(this)">#}
{#                <span class="glyphicon glyphicon-pencil"></span>#}
{#            </a>#}
{##}
{#            <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeNodes(this)"#}
{#                style="margin-right: 8px;">#}
{#                <span class="glyphicon glyphicon-remove"></span>#}
{#            </a>#}
{##}
{#            <a ng-show="!node.source" class="pull-right btn btn-success btn-xs" data-nodrag ng-click="newNode(type='sub_folder', this)"#}
{#                style="margin-right: 8px;">#}
{#                    <span class="glyphicon glyphicon-plus"></span>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <ol ui-tree-nodes="" ng-model="node.children"   ng-class="{hidden: collapsed}">#}
{#        <li ng-repeat="node in node.children" ui-tree-node data-collapsed="true" ng-include="'NodesRenderer.html'">#}
{#        </li>#}
{#    </ol>#}
{##}
{#</script>#}
{##}


<!-- рендер для нод дерева -->


{#<!-- шаблон для модального окошка -->#}
{##}
{#<script type="text/ng-template" id="TreeContentRender.html">#}
{#    <div class="container">#}
{#    #}
{#        <div class="col-sm-9">#}
{#    #}
{#            <h1 class="page-header">Закладки</h1>#}
{#    #}
{#             <!--#}
{#            <h3>#}
{#               Дерево закладок#}
{#    #}
{#            </h3>#}
{#            -->#}
{#    #}
{#    #}
{#            <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="new_bookmark_source.id">#}
{#    #}
{#                <h4>Редактировать имя#}
{#                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Свернуть</a>#}
{#                <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Развернуть</a>#}
{#                </h4>#}
{#    #}
{#                <form class="form-inline" role="form">#}
{#                    <div class="form-group">#}
{#                        <label for="sourceName">Имя</label>#}
{#                        <input type="text" class="form-control" placeholder="Имя" ng-model="new_bookmark_source.name">#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-default" ng-click="newNode(type='source')">Сохранить</button>#}
{#                </form>#}
{#    #}
{#            </div>#}
{#    #}
{#    #}
{#            <div class="group-title angular-ui-tree-handle">#}
{#    #}
{#                <h5>Элементы</h5>#}
{#    #}
{#                <div ui-tree="treeOptions" data-drag-enabled="true" data-max-depth="10" data-drag-delay="500" id="tree-root">#}
{#                    <ol ui-tree-nodes="" ng-model="nodes" ng-class="{hidden: collapsed}">#}
{#                        <li ng-repeat="node in nodes" ui-tree-node data-collapsed="true" ng-include="'NodesRenderer.html'"></li>#}
{#                    </ol>#}
{#                </div>#}
{#    #}
{#                <div>#}
{#    #}
{#                    <h4>Добавить папку</h5>#}
{#    #}
{#                    <form class="form-inline">#}
{#                        <div class="form-group block-level">#}
{#                            <label for="sourceName">Имя папки</label>#}
{#                            <input type="text" class="form-control" ng-model="new_folder_name_source.name" placeholder="папка">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <button class="btn btn-default" ng-click="newNode(type='folder')">Добавить папку</button>#}
{#                        </div>#}
{#    #}
{#                        <p ng-repeat="(name, errs) in errors" class="alert alert-danger">#}
{#                            <strong>{{ name }}</strong>: {{errs.join(', ') }}</p>#}
{#                    </form>#}
{#    #}
{#                </div>#}
{#    #}
{#                <div class="modal-footer">#}
{#            <!--        <button class="btn btn-primary" ng-click="ok()">OK</button> -->#}
{#                    <button class="btn btn-warning" ng-click="close()">Закрыть</button>#}
{#                </div>#}
{#    #}
{#                 <!-- for debug -->#}
{#                <h3>Data binding</h3>#}
{#    #}
{#                <div class="row">#}
{#                    <div class="col-sm-12">#}
{#                        <pre class="code">{{ nodes | json }}</pre>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#    #}
{#        </div>#}
{#    </div>#}
{#</script>#}
{#<!-- шаблон для модального окошка -->#}

{#<script type="text/ng-template" id="button_renderer.html">#}
{#<div>#}
{#    <h3>user={{ user }};&nbspsource={{ source }};&nbsptoken={{ token }};</h3>#}
{#    <button class="btn btn-default" ng-click="open('lg')">Добавить в закладки</button>#}
{#</div>#}
{#</script>#}


<!--[if IE 8]>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
<![endif]-->

<script src="/static/angular-bookmarks/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/angular-bookmarks/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/angular-bookmarks/lib/angular-1.2.26/angular.js"></script>
<script src="/static/angular-bookmarks/lib/lodash/lodash.min.js"></script>
<script type="text/javascript"
        src="/static/angular-bookmarks/lib/restangular/src/restangular.js"></script>
<script type="text/javascript" src="/static/angular-bookmarks/lib/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script type="text/javascript" src="/static/angular-bookmarks/app/trees.js"></script>
<script src="/static/angular-bookmarks/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script>
    // Add the CSRF Token
    angular
            .module('treesApp') // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
            .config(['$httpProvider', function ($httpProvider) {
                $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
            }]);
</script>
</body>
</html>

