{% extends 'base.html' %}
{% load static %}
{% load floppyforms %}

{% block main_content %}
<div class="row">
	<div class="col-md-8">
		<h1>Создание статичных страниц</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form action="{% url 'protocol:flat_pages:add' %}" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
            {{ form.media }}
			{% form form using 'floppyforms/layouts/bootstrap3.html' %}
			<div class="well">
				<input type="submit" class="btn btn-success" value="Создать" />
				<a href="{% url 'protocol:flat_pages:list' %}" class="btn btn-default">Отмена</a>
			</div>
		</form>
	</div>
</div>

{% endblock main_content %}