{% extends 'base.html' %}

{% block main_content %}
<div class="row">
	<div class="col-md-12">
		<h1>Удаление статичной страницы</h1>
		<p>Вы уверены, что хотите удалить данную страницу? {{ url.title }}?</p>
		<form action="{% url 'protocol:flat_pages:delete' url_pk=url.pk %}" method="POST">
			{% csrf_token %}
			<div class="well">
				<input type="submit" class="btn btn-danger" value="Удалить" />
				<a class="btn btn-default" href="{% url 'protocol:flat_pages:list' %}">Отмена</a>
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}
